# MyAnimeList Proxy API Base URL
MAL_PROXY_API_BASE_URL="https://api.tenrai.org/v1"

# Firebase Admin SDK Credentials
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""

# Firestore Database Configuration
FIRESTORE_API_KEY=""
FIRESTORE_AUTH_DOMAIN=""
FIRESTORE_PROJECT_ID=""
FIRESTORE_STORAGE_BUCKET=""
FIRESTORE_MESSAGING_SENDER_ID=""
FIRESTORE_APP_ID=""
FIRESTORE_DATABASE_ID="(default)"
FIRESTORE_MEASUREMENT_ID=""
